<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0;
    margin: 0;
    background-color: white;
    color: pink
}
html {
    scroll-behavior: smooth;
}
.navbar a {
    color: pink;
    text-align: center;
    display: block;
    padding: 20px 22px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: pink;
    color: white;
}
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .navbar a {
        text-align: left;
    }
}
h1 {
        text-align: center;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        text-decoration-color: pink;
        text-decoration-style: wavy;
    }
h4 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
p {
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    padding: 100px;
    height: 600px;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: pink;
    height: 400px;
    flex-wrap: wrap;
}
.flex-item {
    flex: 1;
    background-color: rgb(205, 144, 205);
    margin: 10px;
    padding: 20px;
    color: white;
    text-align: center;
}
.nested-flex-container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(201, 83, 146);
    padding: 10px;
}
.nested-flex-item {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    flex: 1;
    margin: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    padding: 20px;
    background-color: pink;
}
.grid-item {
    background-color: purple;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
}
.grid-item-1{
    grid-column: span 2;

}
.grid-item-2 {
    grid-row: span 2;
}
.float-left {
    float: left;
    width: 40%;
    margin-right: 20px;
    background-color: pink;
    padding: 20px;
    color: white;
}
.float-right {
    float: right;
    width: 40%;
    margin-left: 20px;
    background-color: pink;
    padding: 20px;
    color: white;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
footer {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
</style>